.css-1r9jet7 {
    min-height: 45px;
}




.css-10hburv-MuiTypography-root {
    font-weight: bold;
    font-family: 'Trirong', serif;
    margin: 0;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: block;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-color: blue;
}